body {
  .gameboard {
    list-style: none;
    padding-left: 0;

    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    gap: 1rem;

    

    li {
      border: 1px solid black;
      width: 250px;
      height: 250px;
    }
  }
}
