:root {
  --color: rgb(84, 84, 84);
  --border-color: rgb(84, 84, 84);
  --border-width: 2px;
}

body {
  font-family: sans-serif;
  color: var(--color);

  max-width: 455px;
  margin-inline: auto;

  text-align: center;

  h1 {
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
    border: 2px solid var(--border-color);
    padding: 0.25rem 0.5rem;
    width: fit-content;
    margin-inline: auto;
  }

  .scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;

    h3 {
      display: flex;
      gap: 0.25rem;
    }

    #player-one[data-active="true"] {
      position: relative;
      &::before {
        position: absolute;
        right: -1.5rem;
        content: url("./assets/joystick.svg");
      }
    }
    #player-two[data-active="true"] {
      position: relative;
      &::before {
        position: absolute;
        left: -1.5rem;
        content: url("./assets/joystick.svg");
      }
    }

    #player-one[data-winner="true"] {
      position: relative;
      &::before {
        position: absolute;
        right: -1.5rem;
        content: url("./assets/crown.svg");
      }
    }
    #player-two[data-winner="true"] {
      position: relative;
      &::before {
        position: absolute;
        left: -1.5rem;
        content: url("./assets/crown.svg");
      }
    }
  }

  .gameboard {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 0 var(--border-color);

    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;

    width: fit-content;
    margin-inline: auto;

    border: var(--border-width) solid var(--border-color);

    button {
      border: none;
      cursor: pointer;
      width: 150px;
      height: 150px;

      &:focus-visible {
        outline: var(--border-width) solid var(--border-color);
        outline-offset: -8px;
      }

      &[data-row="0"][data-column="1"] {
        border-right: var(--border-width) solid var(--border-color);
        border-left: var(--border-width) solid var(--border-color);
      }
      &[data-row="1"][data-column="0"] {
        border-top: var(--border-width) solid var(--border-color);
        border-bottom: var(--border-width) solid var(--border-color);
      }
      &[data-row="1"][data-column="1"] {
        border: var(--border-width) solid var(--border-color);
      }
      &[data-row="1"][data-column="2"] {
        border-top: var(--border-width) solid var(--border-color);
        border-bottom: var(--border-width) solid var(--border-color);
      }
      &[data-row="2"][data-column="1"] {
        border-left: var(--border-width) solid var(--border-color);
        border-right: var(--border-width) solid var(--border-color);
      }

      &[data-token="X"] {
        background-image: url("./assets/cross.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60px;
      }
      &[data-token="O"] {
        background-image: url("./assets/circle.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60px;
      }

      &[data-winner="true"] {
        position: relative;
        z-index: 10;
        box-shadow:
          inset 5px 5px 0 var(--border-color),
          5px 5px 0 var(--border-color);
      }
    }
  }

  #restart {
    box-shadow: 5px 5px 0 var(--border-color);
  }
}
